<nav class="topnav">
    <div class="topnav-left">
        <a href="/">Home</a>
        <div class="dropdown">
            <button class="dropbtn">Rezepte
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/sweet-recepies">Süße Rezepte</a>
                <a href="/salty-recepies">Salzige Rezepte</a>
            </div>
        </div>
    </div>
    <div class="topnav-right">
        <a>Über mich</a>
    </div>
</nav>