<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="static\css\main.css" />
    <script src="/static/js/menu-toggle.js"></script>
</head>
<body>
    <header>
        <h1>Beas Kochbuch</h1>
    </header>

    {% include navbar.html %}

    <main>
        {{ content }}
    </main>

    <footer>
        <p>Beas Kochbuch © 2025</p>
    </footer>
</body>
</html>
